<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'travel/css/style_index.css' %}">
    <title>Login/Register</title>
</head>
<body>
    <div id="container">
        <h1>Welcome!</h1>
        <div id="left">
            <h3>Registration Form</h3>
            <form class=form action='/register_user' method='POST'>
            {% csrf_token %}
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <br>
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                <br>
                <p class="note">*Password should be at least 8 characters</p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <br>
                <label for="confirm_pass">Confirm Password</label>
                <input type="password" id="confirm_pass" name="confirm_pass">
                <br>
                <input type="submit" class='btn' value="Register">
            </form>    
        </div><!-- end of left div -->
        <div id="right">
            <h3>Log in</h3>
            <form class=form action='/login_user' method='POST'>
            {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <br>
                <label for="confirm_pass">Confirm Password</label>
                <input type="password" id="confirm_pass" name="confirm_pass">
                <br>
                <input type="submit" class='btn' value="Login">
            </form>
        </div><!-- end of right div -->
        {% if messages %}
            {% for message in messages %}
                <p class='error'>***{{message}}</p>
            {% endfor %}
        {% endif %}
    </div><!-- end of container div -->
</body>
</html>