<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'travel/css/style_single.css' %}">
    <title>Trip</title>
</head>
<body>
    <div id="container">
        <ul>
            <li><a href="/travels">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <div id="content">
            <h2>{{trip_info.destination}}</h2>
            <div id="top">
                <p>Planned By: {{trip_info.created_by.username}}</p>
                <p>Description: {{trip_info.description}}</p>
                <p>Travel Date From: {{trip_info.start_on}}</p>
                <p>Travel Date to: {{trip_info.end_on}}</p>
            </div>
            <h2>Other users' joining the trip:</h2>
            <div id="bottom">
                {% for attendee in attendees %}
                    <p>{{attendee.username}}</p>
                {% endfor%}
            </div>
        </div>
    </div>
</body>
</html>